@use "../vars";

body {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: vars.$dark-grey;
  -webkit-font-smoothing: antialiased;
  background-color: vars.$background;

}

a {
  cursor: pointer;
}

*, *:before, *:after {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: vars.$blue;
}

::-moz-placeholder {
  color: vars.$blue;
  opacity: 1;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
