@use "sass:color";
@use "../vars";
@use "../utilities/media_queries";

@mixin card {
  background-color: white;
  border-bottom-left-radius: vars.$br;
  border-bottom-right-radius: vars.$br;
  padding: 0 15px;
  border-top: 2px solid vars.$blue;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.05);
}

@mixin page {
  max-width: vars.$medium;
  margin: 0 auto 15px auto;
  padding: 0 15px;
}

@mixin tool-tip {
  box-shadow: 1px 2px 6px 1px vars.$lighter-grey;
  padding: 10px !important;
  font-size: 14px !important;
  pointer-events: auto !important;
  color: vars.$dark-grey !important;
  background-color: white !important;
  &.show {
    opacity: 1 !important;
  }
  max-width: 390px;
  @include media_queries.phone {
    max-width: 200px;
  }
}

@mixin info-icon {
  color: vars.$blue;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

@mixin select-dropdown {

  span.Select-clear-zone {
    display: none;
  }

  div.Select-control {
    border-radius: vars.$br;
    border: 1px solid vars.$lighter-grey;
    margin-top: 5px;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    outline: none;
    overflow: hidden;
    position: relative;
  }

  span.Select-arrow-zone {
    padding: 0 12px;
    background-color: vars.$light-grey;
  }

  span.select-option {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &.is-disabled {
    span.select-option {
      cursor: not-allowed;
    }
  }

}

@mixin copy-icon-pulse {
  i.copied {
    animation: pulse 1s;
    animation-iteration-count: 1;
    border-radius: 50%;
    position: relative;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 white;
    }
    70% {
      box-shadow: 0 0 10px 8px color.adjust(vars.$blue, $lightness: 15%);
    }
    100% {
      box-shadow: 0 0 0 0 white;
    }
  }

}

@mixin no-text-decoration {
  text-decoration: none;
  &:hover, &:visited {
    text-decoration: none;
  }
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}
