# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    saml_idp_publickey: '/config/demogssp/demo_gssp_idp.crt'
    saml_idp_privatekey: '/config/demogssp/demo_gssp_idp.key'
    saml_metadata_publickey: '/config/demogssp/demo_gssp_idp.crt'
    saml_metadata_privatekey: '/config/demogssp/demo_gssp_idp.key'
    saml_remote_sp_entity_id: 'https://gateway.dev.openconext.local/gssp/demo_gssp/metadata'
    saml_remote_sp_certificate: '/config/gateway/gateway_gssp_sp.crt'
    saml_remote_sp_acs: 'https://gateway.dev.openconext.local/gssp/demo_gssp/consume-assertion'

