@use "sass:meta";

@include meta.load-css("fonts/font-awesome", $with: ("fa-font-path": "../../fonts"));
@include meta.load-css("fonts/roboto");

@include meta.load-css("vars");
@include meta.load-css("utilities/reset");

@include meta.load-css("base/base");
@include meta.load-css("base/mixins");
@include meta.load-css("utilities/media_queries");
@include meta.load-css("components/header");
@include meta.load-css("components/button");
@include meta.load-css("components/form");
@include meta.load-css("components/alerts");
@include meta.load-css("components/icon_legend");
@include meta.load-css("components/table");
@include meta.load-css("components/navigation");
@include meta.load-css("components/footer");
@include meta.load-css("pages/base");
