@use "sass:color";
@use "../vars";

div.alert {

  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  margin: 0.75rem 0;
  border-radius: .25rem;

  background-color: vars.$light-grey;

  &.alert-info,
  &.info {
    background-color: color.adjust(vars.$green, $lightness: -15%);
  }
  &.alert-warning,
  &.warning {
    background-color: vars.$orange;
  }
  &.alert-error,
  &.error {
    background-color: vars.$red;
    color: vars.$light-grey;
  }

  i.fa {
    padding-bottom: 1.25em;
    padding-right: 0.25em;
  }
}

pre {
  font-family: "Roboto Mono", Sans-serif;
  font-size: small;
}
