@use "../vars";
@use "../base/mixins";

.button {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: white;
  color: vars.$blue;
  border: 1px solid vars.$lighter-grey;
  border-radius: vars.$br;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  @include mixins.no-text-decoration;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.disabled {
    cursor: no-drop;
  }

  i {
    margin-left: 10px;
    color: vars.$medium-grey;
  }

  &.blue {
    background-color: vars.$blue;
    color: white;
    border: none;
    &.error {
      background-color: vars.$red;
    }
    i {
      color: white;
    }
  }
  &.grey {
    background-color: vars.$lighter-grey;
    color: white;
    border: none;
  }
  &.green {
    background-color: vars.$green;
    color: white;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    i {
      color: white;
      margin:0;
      font-size: larger;
    }
  }
}
