@use "sass:color";
@use "../vars";
@use "../utilities/media_queries";
@use "../base/mixins";

div.footer {

  padding: 15px;
  border-top: 3px solid white;
  margin-top: 25px;

  div.footer-inner {
    @include mixins.page;

    display: flex;
    align-items: flex-end;

    span {
      border-right: 1px solid vars.$lighter-grey;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        border-right: none;
      }
    }

    a {
      color: color.adjust(vars.$blue, $lightness: -10%);
      &:visited, &:hover {
        text-decoration: none;
      }
      text-decoration: none;
      padding: 0 15px;
    }

    @include media_queries.phone {
      flex-direction: column;
      span {
        padding: 5px 0;
      }
    }

  }

}