@use "../vars";
@use "../base/mixins";

form {
  .form-row {
    position: relative;
  }

  .help-button {
    i.fa {
      color: vars.$blue;
    }

    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;

    .balloon {
      @include mixins.tool-tip;
      
      display: none;
      font-weight: normal;
      cursor: initial;
      min-width: 450px;
      position: absolute;
      right: 12px;
      top: 12px;
      z-index: 500;
    }

    &:hover .balloon {
      display: block;
    }
  }

  .button-wrapper {
    margin-top: 25px;

    div {
      display: inline;
      margin-right: 25px;
    }
  }
}
