@use "../vars";
@use "../utilities/media_queries";

div.icon-legend {
  display: flex;
  align-items: center;
  padding: 30px 0 10px 0;

  h2 {
    font-size: 26px;
    line-height: 26px;
    margin-right: auto;
  }
  section.roles {
    margin-left: auto;

    @include media_queries.phone {
      display: none;
    }

    span.role {
      color: vars.$medium-grey;
      margin-left: 18px;
      font-weight: bold;
      i {
        margin-right: 5px;
      }
    }
  }
}

