@use "sass:color";
@use "../vars";
@use "../base/mixins";

.navigation-container {

  background-color: vars.$blue;

  .navigation {
    max-width: vars.$medium;
    margin: 0 auto;
    padding: 25px 15px 0 15px;
    font-size: 20px;
    display: flex;

    a {
      font-weight: bold;
      color: color.adjust(vars.$light-blue, $lightness: 5%);
      margin-right: 50px;
      padding-bottom: 12px;
      @include mixins.no-text-decoration;

      &.active {
        color: white;
        border-bottom: 6px solid white;
      }
    }

  }
}