<div class="sds--content-card">
    <div class="sds--content-card--main">
        <div class="sds--content-card--textual">
            <h4 class="sds--space--bottom--1"><h2>{{ title }}</h2></h4>
            <div class="sds--content-card--text-and-actions">{{ text }}</div>
        </div>
    </div>
</div>
