{% extends 'base.html.twig' %}

{% block title %}
    Registreer nieuw account
{% endblock %}

{% block body %}
    <h2>Registration</h2>

    {% if not requiresRegistration %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> There is no active state for AuthnRequest registration request,
            register the user will fail
        </div>
    {% endif %}

    <form method="post">
        <label for="NameID">Subject NameID</label>
        <br>
        <input id="NameID" name="NameID" size="50" type="text" value="{{ NameID }}">
        <br>

        <br>
        <button id="button_register" name="action" value="register">Register user</button>
        <br>
        <br>
        <label for="message">Error message</label>
        <br>
        <input id="message" name="message" size="50" type="text" value="random error">
        <br>
        <br>
        <button id="button_error" name="action" value="error">Return saml error response</button>
    </form>
{% endblock %}